{% extends 'base.html.twig' %}

{% block title %}Notification index{% endblock %}

{% block body %}

    <h1>Notification index</h1>

    {{ include('alerts.html.twig') }}

    <div class="btn-group">
        <a href="{{ path('home') }}" class="btn btn-outline-primary">Back</a>
        <a href="{{ path('notification_list_active') }}" class="btn btn-outline-primary">Show active</a>
        <a href="{{ path('notification_new') }}" class="btn btn-outline-primary">Create new</a>
    </div>

    {{ include('notification/limits.html.twig') }}

    <hr>

    {{ include('notification/pagination.html.twig') }}


    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Type</th>
                    <th>Message</th>
                    <th>Active</th>
                    <th>Recurrent</th>
                    <th>Next run</th>
                    <th>Created at</th>
                    <th>links</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for notification in notifications %}
                <tr class="{{ notification.active ? 'table-primary' : 'table-secondary' }}">
                    <td>{{ types[notification.type] }}</td>
                    <td>{{ notification.message|slice(0, 20) }}{% if notification.message|length > 20 %}...{% endif %}</td>
                    <td>
                        <a href="{{ path('notification_toggle_active', {'id': notification.id}) }}">
                            {{ notification.active ? 'Yes' : 'No' }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('notification_toggle_recurrent', {'id': notification.id}) }}">
                            {{ notification.recurrent ? 'Yes' : 'No' }}
                        </a>
                    </td>
                    <td>{{ notification.nextRun }}</td>
                    <td>{{ notification.createdAt ? notification.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('notification_show', {'id': notification.id}) }}">show</a>
                        <a class="btn btn-outline-primary" href="{{ path('notification_edit', {'id': notification.id}) }}">edit</a>
                    </td>
                    <td>
                        {{ include('notification/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ include('notification/pagination.html.twig') }}

{% endblock %}