{% extends 'base.html.twig' %}

{% block title %}Notification{% endblock %}

{% block body %}
    <h1>Notification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ notification.type }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ notification.message }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ notification.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Loop</th>
                <td>{{ notification.loop ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Next run</th>
                <td>{{ notification.nextRun }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ notification.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ notification.createdAt ? notification.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ notification.updatedAt ? notification.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notification_index') }}">back to list</a>

    <a href="{{ path('notification_edit', {'id': notification.id}) }}">edit</a>

    {{ include('notification/_delete_form.html.twig') }}
{% endblock %}