{% extends 'base.html.twig' %}

{% block title %}Exercise index{% endblock %}

{% block body %}

    <h1>Exercise index </h1>
    <a href="{{ path('home') }}">Back</a>

    {{ include('alerts.html.twig') }}

    {{ include('exercise/limits.html.twig') }}

    <div class="btn btn-outline-primary">
        Beginning <span class="badge badge-warning">{{ firstExercise ? firstExercise.createdAt|date('Y-m-d') : 'when?' }}</span>
        Exercises <span class="badge badge-warning">{{ count }}</span>
        Total time <span class="badge badge-warning">{{ totalTime }}h</span>
    </div>

    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Minutes</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.type }}</td>
                <td>{{ exercise.minutes }}</td>
                <td data-toggle="tooltip" title="{{ exercise.createdAt ? exercise.createdAt|date('Y-m-d H:i:s') : '' }}">
                    {{ exercise.createdAt ? exercise.createdAt|date('Y-m-d') : '' }}
                </td>
                <td data-toggle="tooltip" title="{{ exercise.updatedAt ? exercise.updatedAt|date('Y-m-d H:i:s') : '' }}">
                    {{ exercise.updatedAt ? exercise.updatedAt|date('Y-m-d') : '' }}
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('exercise_show', {'id': exercise.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('exercise_edit', {'id': exercise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('exercise/pagination.html.twig') }}

    <a href="{{ path('exercise_new') }}">Create new</a>

{% endblock %}